
    <title>{{ .Site.Title }}</title>

    {{ $dir := "figures" }}
    {{ $images := readDir $dir | shuffle}}
    {{ $first := index $images 0 }}
    {{ $featured := (print "https://github.com/" $.Site.Data.ghdetails.repo "/blob/gh-pages/" $first.Name "?raw=true") }}

    <meta name="twitter:card" content= "summary"/>
    <meta name="twitter:site" content="@brainhack" />
    <meta name="twitter:title" content={{.Site.Data.report.report.title}} />
    <meta name="twitter:description" content={{.Site.Data.report.report.summary}} />
    <meta name="twitter:image" content={{ $featured }} />

    <meta name="apple-mobile-web-app-capable" content="yes" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <meta name="description" content="{{ .Site.Params.description }}">
    <meta name="author" content="{{ .Site.Params.author }}">

    <link rel="shortcut icon" href="favicon.svg">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/business-frontpage.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&amp;display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/quasar@1.12.0/dist/quasar.min.css" rel="stylesheet" type="text/css">
    <link href="https://cdn.jsdelivr.net/npm/@quasar/quasar-ui-qflashcard@1.0.1/dist/index.min.css" rel="stylesheet" type="text/css">
    
    <style>
      code {
        padding: 2px 4px;
        font-size: 90%;
        color: #5285b6;
        background-color: #e7e7e7;
        border-radius: 4px;
      }
      html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", cursive, sans-serif;
        -webkit-font-smoothing: antialiased;
        color: #2e2e2e;
      }
      html, body {
        min-height: 100vh;
      }
      body{
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      header {
        background-color:#424344! important;
        background-repeat:no-repeat! important;
        background-position: 50%! important;
      }
      h1 {
        font-size: 2rem;
        font-weight: 400;
        color: rgb(59,81,94);
      }
      h2 {
        font-size: 1.5rem;
      }
      h3 {
        font-size: 1rem;
        font-weight: 300;
      }
      p {
        font-size: 1rem;
      }

      .btn {
        background-color: rgb(59,81,94);
        border: none;
        color: white;
        cursor: pointer;
        margin-top: 0.5em;
        padding: 0.5rem;
        font-size: 1rem;
        width: 100%;
      }
      .btn:hover {
        box-shadow: 3px 3px 3px rgba(0,0,0,0.4) !important;
        background-color: rgb(66,67,68);
        color: white;
      }
      .btn .fa {
        margin-right: 0.7rem;
      }

      .logo {
      }
      .logo-brainhack {
        font-weight: 900;
        font-family: 'Roboto Condensed',sans-serif;
      }
      .logo-proceedings {
        font-weight: 300;
      }
    </style>

    <script src="{{ .Site.BaseURL }}assets/vendor/jquery/jquery.min.js"></script>
    <script src="{{ .Site.BaseURL }}assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    {{if $.Site.Data.report.report.hypothesis}}
    <script src="https://hypothes.is/embed.js" async></script>
    {{end}}
    <script>
      $(function() {
        $('[data-toggle="tooltip"]').tooltip()
      })
    </script>